<nav class="navbar navbar-dark bg-success">
  <button
    class="m-auto bg-success"
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
    id="cart"
    style="border:none;"
  ><img src="/img/cart.png" height="50px" /></button>
</nav>