body{
    font-family: 'Cabin', sans-serif;
}

#botonCorreo, #botonFavoritos{
    font-size: 10pt;
  }
#carousel{
    align-content: center;
    margin-left: 5em;

}
.principal{
    max-width: 483px;
    max-height: 384px;
}
.card{
     border: none;     
 }
.tooltip{
    background-color: black;
}
#contacto{
    color: white;
}
.nombre{
    font-family: 'Lobster', cursive;
}
   
h2{
    font-weight: 800;
}
#footer, #contacto{
    text-align: center;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
}
.carousel-indicators {
    bottom: -50px;
}
.carousel-indicators li {
    display: block;
}